@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2d3748;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7fafc;
    --foreground: #4a5568;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* Adjust this value to control the gap */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px; /* Adjust this value to control the gap */
  background-clip: padding-box;
}

/* Optional: Style of the individual items */
.my-masonry-grid_column > div {
  margin-bottom: 20px; /* Adjust this value to control the vertical gap */
}

/* Add top margin to the first item in each column */
.my-masonry-grid_column > div:first-child {
  margin-top: 20px; /* Adjust this value to control the top gap */
}